libratom
sqlalchemy
pandas
spacy
tqdm
jupyterlab
ipywidgets
matplotlib
sklearn

# for mybinder.org
# https://discourse.jupyter.org/t/build-errors-when-using-fully-pinned-requirements-txt-coming-from-pip-tools/6821
#terminado==0.8.3
terminado
